/* nav chevron */
:root {
    --customBlack: #18181b1f; 
}

.customAnim-navChevron {
    overflow: hidden;
    width: 0;
    opacity: 0;

}
.customAnim-navChevronOpen {
    animation: navChevronAnim 0.25s ease-in-out forwards, navChevronDynamic 1s ease-in-out infinite;
}
@keyframes navChevronAnim {
    0% {
        width: 0px;
        opacity: 0;
    }
    20% {
        width: 20px;
        opacity: 0;
    }
    100% {
        width: 20px;
        opacity: 1;
    }
}
@keyframes navChevronDynamic {
    0%{
        transform: translateX(-47px);
    }
    50%{
        transform: translateX(-40px);
    }
    100%{
        transform: translateX(-47px)
    }
}
.custom-text-shadow-navElement {
    text-shadow: 5px 5px 4px var(--customBlack);
}


/* Navmenu */

.customAnim-navMenu {
    animation: navMenuAnim 0.5s ease forwards;
}

@keyframes navMenuAnim {
    0% {
        transform: translateX(200px);
        opacity: 0;
        filter: blur(4px);
        scale: 0.8;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
        filter: blur(0);
        scale: 1;
    }
}

.customAnim-navMenuClose {
    animation: navMenuAnimClose 0.5s ease forwards 0.15s;
}

@keyframes navMenuAnimClose {
    0% {
        scale: 1;
        opacity: 1;
    }
    100% {
        scale: 0.9;
        opacity: 0;
    }
}

.custom-backBtnAnim {
    animation: backBtnAnim 0.3s ease forwards;
}
@keyframes backBtnAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.custom-hoverNavElementAnim {
    animation: hoverNavElementAnim 0.35s ease-in-out forwards;
}

@keyframes hoverNavElementAnim {
    0% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(7px);
    }
    70% {
        transform: translateX(-2px);
    }
    90% {
        transform: translateX(1px);
    }
    100% {
        transform: translateX(0);
    }
}